* {
    font-family: 'Archivo Black', sans-serif !important;
}
@media (max-width: 768px) {
    .header h3{
        font-size: 25px !important;
        font-weight: 700;
    }
    .header span{
        padding-left: 30px !important;
    }
	}