#about {
	padding: 50px;
	margin-top: 5rem;
	padding-top: 7.5rem;
}
.big {
	background-color: #f7f7f7;	
}
.header {
    width: 100%;
	margin-bottom: 70px;
}
.header h3{
	font-size: 45px;
	font-weight: 700;
}
.header span{
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	position: relative;
	padding-left: 60px;
}
.header span:before{
	position: absolute;
	content: "";
	width: 40px;
	height: 1px;
	background-color: #868a9b;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.about_section .text{
	width: 100%;
}
.about_btn{
	width: 100%;
}
.about_btn a{
	color: #fff;
	display: inline-block;
	background-color: #000;
	padding: 20px 50px;
	position: relative;
	border: none;
	text-decoration: none;
	margin-bottom: 2.5rem;
}
.hj {
	
	border: none !important;
}
.hj button:focus {
	box-shadow: none;
}
.a-header {
	margin-bottom: 10px !important;
}
.ngga {
	width: 100% !important;
    background-color: #eaeaea !important;
    padding: 25px 40px !important;
    cursor: pointer !important;
	font-size: 17px !important;
	font-weight: 700 !important;
	text-transform: uppercase;
}
@media (max-width: 768px) {
	.ngga {
		padding: 25px 30px !important;
	}
	#about {
		padding: 10px;
	}
}
.about_btn a:hover{
	background-color: #848080;
    color: #ffffff;
	border: 1px solid #000;
	transition: ease-in-out 1.5s;
}
/* .each {
	min-width: 100%;
	margin-bottom: 10px;
}
.each .h2 {
	background-color: #eaeaea;
	color: #000000;
	font-weight: 400;
	font-size: 24px;
} */
.aright {
	max-height: 100%;
}
.first .ass img {
	width: 1rem;
	height: 1rem;
}
