.header {
    width: 100%;
	margin-bottom: 70px;
}
.header h3{
	font-size: 45px;
	font-weight: 700;
}
.header span{
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	position: relative;
	padding-left: 60px;
}
.header span:before{
	position: absolute;
	content: "";
	width: 40px;
	height: 1px;
	background-color: #868a9b;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
#blog {
	padding: 50px;
	margin-top: 5rem;
	padding-top: 5.0rem;
}
.newsrow {
	clear: both;
}
.newsrow .man {
	background-image: url(../Images/kk.jpg);
	
	width: 100%;
}
.newsrow img {
	max-width: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1) translateZ(0);
    transition: all .3s ease;
}



@media (max-width: 767px) {
	#blog {
		padding: 50px 10px 0px 10px;
	}
}