.conuy {
	padding: 50px;
	margin-top: 5rem;
	padding-top: 7.5rem;
}
.google {
	width: 100%;
	padding: 40px;
	height: 400px;
	outline: none;
}
.google:hover {
	transform: scale(1.02);
}
.mage {
	display: flex;
	align-items: center;
}
.mage a {
	margin-left: 25px;
}
.mage a:first-child {
	margin-left: 0;
}
.mage a img {
	height: 1rem;
}
.out {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-radius: 50%;
	transition: transform 0.3s ease;
	background-color:  #f7f7f7;
}
.out:hover {
	transform: scale(1.2);
}
.soc img{
	margin-right: 25px;
}
.soc img:last-child {
	margin-right: 0;
}

.trey {
	border: none !important;
}
.trey button:focus {
	box-shadow: none;
}
.ngga {
	width: 100% !important;
    background-color: #eaeaea !important;
    padding: 25px 40px !important;
    cursor: pointer !important;
	font-size: 17px !important;
	font-weight: 700 !important;
	text-transform: uppercase;
	margin-bottom: 5px;
}
@media (max-width: 768px) {
	.ngga {
		padding: 25px 30px !important;
	}
}

