.conuy {
	padding: 50px;
	margin-top: 5rem;
	padding-top: 7.5rem;
}
.google {
	width: 100%;
	height: 400px;
	outline: none;
}
.google:hover {
	transform: scale(1.02);
}
.mage {
	display: flex;
	align-items: center;
	width: 100%;
}
.mgfst  {
	display: flex;
	flex-direction: column;
}
.mgfst:last-child {
	margin-left: 50px;
}
.dejav {
	padding: 25px;
	color: #868a9b !important;
}
.trey {
	border: none !important;
	margin-bottom: 10px;
}
.trey button:focus {
	box-shadow: none;
}

.ngga {
	width: 100% !important;
    background-color: #eaeaea !important;
    padding: 25px 40px !important;
    cursor: pointer !important;
	font-size: 17px !important;
	font-weight: 700 !important;
	text-transform: uppercase;
	text-align: start;
	margin-bottom: 5px;
}
.ngga:focus {
	box-shadow: none;
}
.crf {
	display: flex;
}
.card .btn {
	text-align: start;
}
.crf ul li {
	list-style-type: none;
}
.crf .tesd {
	margin-right: 200px;
}
.crf ul li {
	margin-bottom: 5px;
}
.crf .tesd ul li a {
	text-decoration: none;
	color: #000000;
	line-height: 1.1;
}
.crf .tesd ul li a:hover {
	text-decoration: underline;
	transition: ease-in .5s;
}
@media (max-width: 768px) {
	.ngga {
		padding: 25px 30px !important;
	}
	.info_list ul li span:first-child{min-width: auto;}
}
@media (max-width: 450px) {
	.conuy {
		padding: 0px;
	}
	.dejav {
		padding: 0;
	}
}
@media (max-width: 767px) {
	.conuy {
		padding: 10px;
	}
	.dejav {
		padding: 5px;
	}
	.crf .tesd {
		margin-right: 5px;
	}
}
.social{
	width: 100%;
}
.social ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
}
.social li{
	width: 50%;
	margin-bottom: 14px;
	padding-left: 20px;
	list-style-type: none;
}
.social li:last-child{
	margin-bottom: 0px;
}
.social li a{
	color: #868a9b;
	text-decoration: none;
}
.line_effect{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	position: relative;
}
.line_effect:after{
	content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 3px;
    transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    background: currentColor;
}
.line_effect:hover:after{
	width:100%;
	left:0;
	right:auto;
}
.info_list{
	width: 100%;
}
.info_list ul li{
	width: 100%;
	margin-bottom: 14px;
	list-style-type: none;
}
.accordion_wrap .info_list ul li:last-child{
	margin-bottom: 0px;
}
.info_list ul li span{
	display: inline-block;
}.info_list ul li span:first-child{
	min-width: 135px;padding-right: 20px;
}
.info_list ul li a{
	color: #000;
}
.form_cont ul li {
	list-style-type: none;
	padding: 10px;
	width: 50%;
}
.form_cont ul li:nth-last-child(2) {
	width: 100%;
}
.form_cont ul li input {
	width: 100%;
    height: 50px;
    padding: 5px 20px;
    background-color: #eaeaea;
    font-size: 16px;
    color: #868a9b;
	border: none;
}
input:focus {
	outline: none;
}
input:required:invalid {
	border-bottom: 1px solid red;
}
.form_cont ul li textarea {
	width: 100%;
    height: 50px;
    padding: 5px 20px;
    background-color: #eaeaea;
    font-size: 16px;
    color: #868a9b;
	border: none;
	height: 200px;
}
textarea:focus {
	outline: none;
}
.tyy {
	width: 100%;
    height: 50px;
    padding: 5px 20px;
    background-color: #eaeaea;
    font-size: 16px;
    color: #868a9b;
	border: none;
}
.tyy:focus {
	outline: none;
}
.form_cont button {
	color: #fff!important;
    display: inline-block!important;
    background-color: #000!important;
    padding: 20px 50px!important;
    position: relative!important;
    border: none!important;
    cursor: pointer;
    font-size: 16px;
}