#home {
	margin-top: 5rem;
	padding: 50px;
	padding-top: 7.5rem;
}
.left .mgg {
	max-width: 100%;
	height: 400px;
	animation: morph 8s ease-in-out infinite;
	border: 20px solid #f7f7f7;
}
@keyframes morph {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   }
	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
   }
	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
   }
}
.naw {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.both {
	display: flex;
	align-items: center;
	justify-content: center;
}
.right h3 {
	font-size: 5rem;
	font-weight: 800;
	line-height: 1.1;
	text-transform: uppercase;
	font-family: 'Archivo Black', sans-serif;
}
.stroke{
	color: transparent;
	-webkit-text-stroke: 1px #000;
}
.htt {
	display: inline-block;
	background-color: #f7f7f7;
	padding: 15px 40px;
	margin-top: 30px;
	max-width: 100%;
}
.htt span {
	position: relative;
	display: inline-block;
	padding-right: 15px;
	margin-right: 10px;
}
.htt span:after{
	position: absolute;
	content: "";
	width: 6px;
	height: 6px;
	background-color: rgba(0,0,0,.15);
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 100%;
}
.htt span:last-child{
	margin: 0px;
	padding: 0px;
}
.htt span:last-child:after{
	display: none;
}
.left {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 1600px) {
	.left .mgg{width: 350px;height: 350px;}
	h3{font-size: 85px;}
	.htt{margin-top: 20px;}
 }
@media (max-width: 1040px) {
	.both{flex-direction: column; justify-content: center; align-items: center;}
	.left .mgg{width: 300px;height: 300px;}
	.naw{padding-left: 0px;}
	.right h3{font-size: 60px;}
	.htt{font-size: 10px 25px;}
	#home { padding: 20px;}
	.right {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
}
@media (max-width: 450px) {
	#home {
		padding: 0px;
	}
}
@media (max-width: 767px) {
	#home {
		padding: 10px;
	}
}