.header {
    width: 100%;
	margin-bottom: 70px;
}
.header h3{
	font-size: 45px;
	font-weight: 700;
}
.header span{
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	position: relative;
	padding-left: 60px;
}
.header span:before{
	position: absolute;
	content: "";
	width: 40px;
	height: 1px;
	background-color: #868a9b;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.project {
	padding: 50px;
	margin-top: 5rem;
	padding-top: 5.0rem;
}
.btns {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
 }
.btns button {
	margin: 10px;
    padding: 10px 25px;
    border: none;
    margin-bottom: 2.5rem;
	text-transform: uppercase;

}
.btns button:hover {
	transition: ease-in 500ms;
	background-color: #000000;
	color: #eaeaea;
}
.btns .active {
	background-color: #000000;
	color: #eaeaea;
	border-radius: 25px;
}
.pro {
	padding: 5px;	
}
.amza {
	padding: 5px 5px 25px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #ffffffbc;
}
.amza h4 {
	margin-top: 5px;
}
.amza a {
	color: #000000;
	background-color: #eaeaea;
	padding: 10px 25px;
	width: fit-content;
	text-decoration: none;
	margin-top: 5px;
}
.amza:hover {
	transform: scale(1.05);
	transition: ease-in 0.3s;
}
.amza a:hover {
	background-color: transparent;
	border: 1px solid #000000;
	border-radius: 25px;
	transition: ease-in 50ms;
}
@media (max-width: 767px) {
	.project {
		padding: 50px 10px 0 10px;
	}
	.btns {
		flex-wrap: wrap;
		justify-content: center;
		gap: 3px;
	 }
}