.service_section {
    margin-top: 5rem;
}
.service_cont {
    display: flex;
    justify-content: space-between;
}
.service .inner{
    height: 100%;
    background-color: #f7f7f7;
	padding: 70px 50px ;
}
.service img {
    width: 53px;
	height: 53px;
	color: #999;
	margin-bottom: 20px;
}
.list ul li {
    list-style-type: none;
}