.conttt {
    padding: 50px;
	margin-top: 5rem;
	padding-top: 5.0rem;
}
.header {
    width: 100%;
	margin-bottom: 70px;
}
.header h3{
	font-size: 45px;
	font-weight: 700;
}
.header span{
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	position: relative;
	padding-left: 60px;
}
.header span:before{
	position: absolute;
	content: "";
	width: 40px;
	height: 1px;
	background-color: #868a9b;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.testhead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #eaeaea;
	padding: 25px 40px;
}
.testhead img {
	width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}
.testb {
	position: relative;
}
.testb .desc {
    width: 100%;
    padding: 40px 40px 60px;
	background-color: #ffffff;
}
.testb svg {
	/* position: absolute;
    bottom: -130px;
    right: -100px;
    width: 500px;
    height: 500px;
    opacity: .07; */
}
.desc img {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.woww {
	margin-bottom: 30px;
}
.testhead h4 {
	text-transform: uppercase;
	font-size: 17px;
}
@media (max-width: 767px) {
	.conttt {
		padding: 50px 10px 0 10px;
	}
	.testhead {padding: 25px 30px;}
	.desc {
		padding: 40px 30px 60px;
	}
}