#timeline {
    width: 100%;
}
.body {
	padding: 50px;
	margin-top: 5rem;
	padding-top: 7.5rem;
}
.header {
    width: 100%;
	margin-bottom: 70px;
}
.header h3{
	font-size: 45px;
	font-weight: 700;
}
.header span{
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	position: relative;
	padding-left: 60px;
}
.header span:before{
	position: absolute;
	content: "";
	width: 40px;
	height: 1px;
	background-color: #868a9b;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.tt {
	height: 4rem;
	display:flex ;
	align-items: center;
	background-color: #eaeaea;
	padding: 40px 35px 35px 35px;
	border-left: 5px solid rgba(0,0,0,.1);
	margin-bottom: 30px;
}
.tt h3 {
	text-transform: uppercase;
}
.dfg .item {
	width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 40px 35px 35px;
    border-left: 5px solid rgba(0,0,0,.1);
	align-items: center;
	margin-bottom: 10px;
	height: 7.9rem;
}
.dfg .item:last-child {
	margin-bottom: 0;
}

.dfg .item h4 {
	font-size: 17px;
	margin-bottom: 3px;
}
.dfg .date {
	padding: 10px;
	background-color: #ffffff;
}